{{#each this}}
  <div class="card">
    <div class="card-img-top">
      <img src={{flags.svg}} alt={{name}} width="100" />
    </div>
    <div class="card-body">
      <h2 class="card-title">{{name.common}}</h2>
      <p class="card-text">Capital:<span class="title"> {{capital}}</span></p>
      <p class="card-text">Population:<span class="title">{{population}}</span>
      </p>
      <p class="card-text">Languages:<span class="title"></span>{{#each
          languages
        }}<span class="language">{{this}}</span>{{/each}}</p>
    </div>
  </div>
{{/each}}